@charset "UTF-8";



@font-face{

  font-family: Quotable;
  src: url(../plantilla/Quotable.otf);
  
}
@font-face{
  font-family: Sono-Medium;
  
  src: url(../plantilla/Sono-Medium.ttf);
}

.imagen_ajustes{

  border: 2px solid #000072;
  border-radius: 110px;
}


.type_write{

  font-family: Sono-Medium;
  border: 1.5px solid #000072;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  width: 53% ;
  padding: 5px ;

}
.type_write_select{

  font-family: Sono-Medium;
  border: 1.5px solid #000072;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  width: 55% ;
  padding: 5px ;

}

.imagen_perfil{

background-image: url(../img/Foto-_-Happy-Woof.jpg);
height: 200px; 
width: 200px;
}
.seleccionar_archivo{

  font-family: Sono-Medium;
  border: 0px solid #000072;
 /* height: 10px;
  display: block;*/
  margin: 0 auto;
  width: 37% ;
  padding: 5px  ;
  

}

.boton {
  background-color: #18D38b;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-family: Quotable;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
  border: 1.5px solid #000072;
  display: block;
  width: 53%;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
}

.titulo {
  background-color: #18D38b;
  display: block;
  width: 80%;
  border-radius: 3px;
  position: relative;
  top: 9.5px;
  font-family: Quotable;
  letter-spacing: 2px;

  
}

.boton:before {
  left: -48%;
}

.boton:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #48a8f7;
}

.boton:hover:after,
.boton:hover:before {
  transform: rotate(45deg), scaleX(130%);
  background: rgba(255, 255, 255, 0.1);
  transition: all ease 0.2s;
}

.boton:hover:after {
  right: 130%;
}

.boton:hover:before {
  left: 130%;
}

.volver,
.volver2,
.volver3 {
  background-color: #18D38b;
  color: black;
  padding: 3.4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  border-radius: 6px;
  border: 2px #0016b0;
  line-height: 10px;
  display: block;
  width: 9%;
  position: relative;
  top: 1px;
  right: 1px;
}

.boton_añadir {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: #89D9D1;
  border-radius: 6px;
  border: 2px #0016b0;
  width: 100px;
  height: 100px;
}

.ajustes {
  background-color:#18D38b ;
  color: black;
  padding: 3.4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  border-radius: 6px;
  border: 2px #0016b0;
  margin-left: 321px;
  line-height: 10px;
  display: block;
  width: 9%;
  position: relative;
  top: 1px;
  right: -45px;
}



.ocultar {
  display: none;
}

.container_card, .container_card2 {
  width: 300px;
  height: 200px;
  position: relative;
  -ms-perspective: 800px;
  perspective: 800px;
  border-radius: 4px;
}

.card, .card2 {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card div, .card2 div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #80c4f1;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-pack: center;
  justify-content: center;
  -o-box-align: center;
  align-items: center;
  font: 18px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #000072;
}

.card .back, .card2 .back {
  transform: rotateY(180deg);
}

.card.flipped, .card2.flipped {
  transform: rotateY(180deg);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v80/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 0.5;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

nav {
  background: #18D38b;
  justify-content: space-between;
  display: flex;
  padding: 5px;
  margin-bottom: 30px;
  color: white;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.material-icons.cl-white {
  color: black;
}

.panel-central-img {
  width: 150px;
  height: 150px;
  padding: 30px;
  align: center;
  width: inherit;
}
.panel-central-img2 {
  width: 100px;
  height: 80px;
  padding: 30px;
  align: center;
  width: inherit;
}

.panel-central {
  width: 200px;
  height: 30px;
  padding: 30px;
  align: center;
  width: inherit;
}

.panel-central-reducido {
  width: 100px;
  height: 20px;
  padding: 20px;
  align: center;
  width: inherit;
}

.panel-central-especial {
  width: 100px;
  height: 10px;
  padding: 20px;
  align: center;
  width: inherit;
  bottom: 10px;
}

.pantallas-info {
  HEIGHT: 430px;
  WIDTH: 320px;
}

.padre {
  display: flex;
  justify-content: center;
}

section {
  width: 410px;
  height: 820px;
  text-align: center;
  width: inherit;
  height: all;
  font-family: Quotable;
  letter-spacing: 2px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Quotable;
  letter-spacing: 2px;
}

head {
  margin: 0;
}

#splash {
  background: #ffffff;
}

#menuLogin {
  background:#ffffff;
}

#login {
  background:#ffffff;
}

#registro {
  background:#ffffff;
}

#registroMascota {
  background:#ffffff;
}

#inicio {
  /*position: relative;
      min-height: 100vh;
      border: 1px solid black; */
  background:#ffffff;
  /*display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;*/
}

#cuidados {
  background:#ffffff;
}

#dieta {
  background:#ffffff;
}

#entrenamiento {
  background:#ffffff;
}

#basico {
  background:#ffffff;
}

#trucos {
  background:#ffffff;
}

#misMascotas {
  background:#ffffff;
}

#añadirMascota {
  background:#ffffff;
}

#ajustes {
  background:#ffffff;
}

#ajustesCuenta {
  background:#ffffff;
}

#cambioDatos {
  background:#ffffff;
}

#acercaDe {
  background:#ffffff;
}


/*# sourceMappingURL=main.css.map */