  .boton
    {
      background-color:#89D9D1 ;
      color:black;
      padding: 10px;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      border-radius: 6px;
      border: 2px #0016b0;
      display: block;
      width: 70%;
      margin: 0 auto; 
    }
  .volver, .volver1, .volver2, .volver3, .volver4, .volver5, .volver6
    {
      background-color:#89D9D1 ;
      color:black;
      padding: 10px;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      border-radius: 6px;
      border: 2px #0016b0;
      margin-left: -327px;
      line-height: 50px;
    }
  
  .boton_añadir
    {
    
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #000000;
      background-color: #89D9D1;
      border-radius: 6px;
      border: 2px #0016b0;
      width: 100px;
      height: 100px;
    }

  .ajustes
    {
      background-color:#89D9D1 ;
      color:black;
      padding: 10px;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;
      border-radius: 6px;
      border: 2px #0016b0;
      margin-left: 313px;
      line-height: 50px;
    }
  .ocultar
    {
      display: none;
    }
    section
    {
      width:360px;
      height:640px;
      text-align: center;
    }
  body
    {
      margin: 0;
    }
  #splash
    {
    background:#F2ECD8;
    }
  #menuLogin
    {
      background:#F2ECD8;
    }
  #login
    {
      background:#F2ECD8;
    }
  #registro
    {
      background:#F2ECD8;
    }
  #registroMascota
    {
      background:#F2ECD8;
    }  
   #inicio
    {
      background:#F2ECD8;
    }
  #cuidados
    {
      background:#F2ECD8;
    }
  #dieta
    {
      background:#F2ECD8;
    }
  #entrenamiento
   {
      background:#F2ECD8;
    }
  #basico
    {
      background:#F2ECD8;
    }
  #trucos
    {
      background:#F2ECD8;
    }
  #misMascotas
    {
      background:#F2ECD8;
    }
  #añadirMascota
    {
      background:#F2ECD8;
    }
  #ajustes
    {
      background:#F2ECD8;
    }
   #ajustesCuenta
    {
      background:#F2ECD8;
    }  
  #cambioDatos
    {
      background:#F2ECD8;
    }