#splash {
  background: #F2ECD8;
}

#menuLogin {
  background: #F2ECD8;
}

#login {
  background: #F2ECD8;
}

#registro {
  background: #F2ECD8;
}

#registroMascota {
  background: #F2ECD8;
}

#inicio {
  /*position: relative;
      min-height: 100vh;
      border: 1px solid black; */
  background: #F2ECD8;
  /*display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;*/
}

#cuidados {
  background: #F2ECD8;
}

#dieta {
  background: #F2ECD8;
}

#entrenamiento {
  background: #F2ECD8;
}

#basico {
  background: #F2ECD8;
}

#trucos {
  background: #F2ECD8;
}

#misMascotas {
  background: #F2ECD8;
}

#añadirMascota {
  background: #F2ECD8;
}

#ajustes {
  background: #F2ECD8;
}

#ajustesCuenta {
  background: #F2ECD8;
}

#cambioDatos {
  background: #F2ECD8;
}