.panel-central-img {
  width: 200px;
  height: 200px;
  padding: 30px;
  align: center;
  width: inherit;
}

.panel-central {
  width: 200px;
  height: 30px;
  padding: 30px;
  align: center;
  width: inherit;
}

.panel-central-reducido {
  width: 100px;
  height: 10px;
  padding: 20px;
  align: center;
  width: inherit;
}

.pantallas-info {
  HEIGHT: 430px;
  WIDTH: 320px;
}

section {
  width: 360px;
  height: 640px;
  text-align: center;
  width: inherit;
}

body {
  margin: 0;
}